
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{margin: 0;padding: 0; box-sizing: border-box;
font-family: 'roboto'
}

/* estilos del header */

header div.descuentos {
background-color: #1CD1B0;
height: 30px; 
font-size: 1rem;
padding: 10px;
}

/* estilo del main */


main span.heroes {
background-color: #00669F;
position: sticky;
top: 0px;
display: inline-block;
width: 100%;
font-weight: bolder;
height: 15vh;
font-size: 2.5rem;
padding-top: 28px;
padding-left: 28px;
z-index: 2;
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20vh;
    margin-bottom: 20vh;
    height: 2000px;
}

main section article{
    position: relative;
    
}

main section article div.card{
    text-align: center;
    width: 40vw;
    height: 529px; 
    background-color: #F3F3F3;
}


main section article div.card img.corazon{
    position: absolute;
    top: 1.5vh;
    left: 1.5vw;
}

main section article div.card img{
    /* width: 100vw; */
}

main section article div.card img.foto{
position: relative; 
bottom: 64px;
border-radius: 50%;}

main section article div div{
    position: relative; 
    bottom: 40px;
    text-align: center;
} 

main section article div div h2{
text-transform: uppercase; font-weight: bold;
text-align-last: center;
height: 35px;
}

main section article div div p{
padding-left: 20px;
padding-right: 20px;
}

main section article div div button.verMas{
position: relative;
top: 30px;
background: #00669F;
font-size: 15px;
color: #F3F3F3;
padding: 15px 37px;
}

    /* estilo del footer */

footer p{
background-color: #00669F;
padding: 16px;
color: #FFF9F9;
}

footer p span{
text-transform: uppercase;
}