@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{margin: 0;padding: 0; box-sizing: border-box;
font-family: 'roboto',sans-serif
}

/* estilos del header */

header div.bannerDescuentos {
    background-color: #1CD1B0;
    height: 30px; 
    font-size: 15px;
    padding: 10px;
}

header div.bannerHeroes{
    display: flex;    
    background-color: #00669F;    
    width: 100%;        
    padding-left: 28px;    
}

header div.bannerHeroes span{
    align-self: center;    
    color: white;
    font-size: 40px;
}

header nav{
    background-color: #001D2D;
}

header nav ul{
    display: flex;
    list-style-type: none;
    color: white;
    padding-right: 10px;
    justify-content: flex-end;
}

header nav ul li{
    padding: 5px;
    
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

    /* estilo del footer */

footer{
    display: flex;
    justify-content: center;
    background-color: #00669F;
}

    footer p{    
    padding: 16px;
    color: #FFF9F9;
}

footer p span{
    text-transform: uppercase;
}

/* estilo del main */


main section{
    display: flex;    
    align-items: center;
    justify-content: center;
}

div.form-header {
    display: flex;
    flex-direction: column;
}

h1.form-header-h1{
    font-size: 2rem;
}

div.form-column ,
div.label-input ,
div.form{
    display: flex;
    flex-direction: column;
}

div.form{
    justify-content: center;
    align-items: center;
    background-color: #00669F;
    color: white;
    width: 650px;
    height: 600px;
}

div.form-content{
    display: flex;
}
/* main section div.inputForm{
    width: 100%;
}

main section div.inputForm form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

main section.formulario div.tituloForm{
    align-self: flex-start;
    font-weight: 500;
    font-size: 2rem;
}

main section div form input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

main section div.inputForm button{
    background-color: #1CD1B0;
    font-weight: bolder;
    border-radius: 40px;
    width: 100%;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

main section div form div.registrarme{
    align-self: center;
    margin: 5px;
} */

main section article{
    position: relative;
    display:inline-block;
    width: 300px;
    height: 529px; 
    background-color: #F3F3F3;
}

main section article img.corazon{
    position: absolute;
    top: 15.87px;
    left: 21px;
}

main section article img.foto{
    position: relative; 
    bottom: 64px;
    left: 90px;
    border-radius: 50%;
}

main section article div {
    position: relative; 
    bottom: 40px;
    text-align: center;
} 

main section article h2{
    text-transform: uppercase; font-weight: bold;
    text-align-last: center;
    height: 35px;
}

main section article p{
    padding-left: 20px;
    padding-right: 20px;
}

main section article div button.verMas{
    position: relative;
    top: 30px;
    background: #00669F;
    font-size: 15px;
    color: #F3F3F3;
    padding: 15px 37px;
}
