<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Login</title>
</head>

<body>
    <header>
        <div class="bannerDescuentos">
            <p>Descuentos 20%</p>
        </div>

        <div class="bannerHeroes">
            <img src="../img/Tienda.png" alt="imagen tienda">
            <span>Super Heroes</span>
        </div>
    </header>
    <main>
        <section class="formulario">
            <div class="tituloForm">
                <h1>Login</h1>
            </div>
            <div class="inputForm">
                <form action="">                    
                    <input type="text" placeholder="usuario">
                    <input type="pasword" placeholder="contraseña">
                    <button>Entrar</button>
                    <div class="registrarme">
                        <a href="">¿No tienes cuenta?</a>
                        <span>Registrarme</span>
                    </div>
            </div>
            </form>
        </section>
    </main>
    <footer>
        <p>Todos los derechos reservados a <span>front end 1</span></p>
    </footer>
</body>

</html>