@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{margin: 0;padding: 0; box-sizing: border-box;
font-family: 'roboto'
}

/* estilos del header */

header div.descuentos {
    background-color: #1CD1B0;
    height: 30px; 
    font-size: 1rem;
    padding: 10px;
}

/* estilo del main */


main span.heroes {
    background-color: #00669F;
    position: sticky;
    top: 0px;
    display: inline-block;
    width: 100%;
    font-weight: bolder;
    height: 15vh;
    font-size: 2rem;
    padding-top: 28px;
    padding-left: 28px;
    z-index: 2;
}


main button.suma{
    color: #FFFFFF;
    background: #00669F;
    position: fixed;   
    right: 5vw;
    bottom: 15vh;
    font-size: 2rem;
    padding: 1% 2.5%;
    border-radius: 50%;        
}

main section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


main section article.card{
    /* position: relative; */
    text-align: center;
    width: 60vw;
    height: 88vh; 
    background-color: #F3F3F3;
    border-radius: 5px;
    margin-bottom: 10vh;
    margin-top: 10vh;
}


main section article.card img{
    width: 100%;
}
main section article.card img.corazon{
    position: absolute;
    top: 4%;
    left: 4%;
    width: 13%;
}
main section article.card img.foto{
    position: relative; 
    bottom: 10%;
    border-radius: 50%;
    width: 40%;
}

main section article.card div{
    position: relative; 
    bottom: 10%;
} 

main section article.card div h2{
    text-transform: uppercase; font-weight: bold;
    text-align-last: center;
    height: 35px;
}

main section article.card div p{
    padding-left: 20px;
    padding-right: 20px;
}

main section article.card div button{
    position: relative;
    bottom: 5%;
    /* margin-top: 10%; */
    background: #00669F;
    font-size: 1rem;
    color: #F3F3F3;
    padding: 4% 13%;
}

    /* estilo del footer */

footer p{
background-color: #00669F;
padding: 16px;
color: #FFF9F9;
}

footer p span{
text-transform: uppercase;
}

@media (min-width:460px){
    main section{
        flex-direction: row;
        flex-wrap: wrap;      
        align-items: center;
        justify-content: space-around;
        margin-right: 7%;
    }

    main button.suma{
        right: 5px;
        bottom: 15%;
    }

    main section article.card{
        width: 250px;            
        height: 500px; 
        background-color: #F3F3F3;
        border-radius: 5%;
    }
}