@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{margin: 0;padding: 0; box-sizing: border-box;
font-family: 'roboto'
}
/* estilos del header */


header div.descuentos {
    background-color: #1CD1B0;
    height: 30px; 
    font-size: 15px;
    padding: 10px;
    }

    main div.heroes {
        display: flex;
        align-items: center;
        background-color: #00669F;
        position: sticky;
        top: 0px;
        width: 100%;
        font-weight: bolder;
        height: 101px;
        font-size: 40px;
        padding-top: 28px;
        padding-left: 28px;
        z-index: 2;
    }
    
main form{
    display: flex;
    width: 620px;
    flex-direction: column;
    align-items: center;
}


main form input{
    width: 40%;
    height: 30px;
    margin: 10px;
}

main form button{
    background-color: #1CD1B0;
    border-radius: 40px;
    width: 40%;
}

main form div{
    display: flex;
}









 /* estilo del footer */

footer {
    bottom:0px
}

footer p{
    background-color: #00669F;
    padding: 16px;
    color: #FFF9F9;
    }
    
    footer p span{
    text-transform: uppercase;
    }