
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{margin: 0;padding: 0; box-sizing: border-box;
font-family: 'roboto'
}

/* estilos del header */

header div.descuentos {
    background-color: #1CD1B0;
    height: 30px; 
    font-size: 15px;
    padding: 10px;
}

/* estilo del main */


main div.heroes {
    display: flex;
    align-items: center;
    background-color: #00669F;
    position: sticky;
    top: 0px;
    width: 100%;
    font-weight: bolder;
    height: 101px;
    font-size: 40px;
    padding-top: 28px;
    padding-left: 28px;
    z-index: 2;
}

main nav{
    background-color: #001D2D;

}

main nav ul{
    display: flex;
    list-style-type: none;
    color: white;
    padding-right: 10px;
    justify-content: flex-end;
}

main nav ul li{
    padding: 10px;
}

main section{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    margin-bottom: 150px;
}

main section article{
    position: relative;
    display:inline-block;
    width: 300px;
    height: 529px; 
    background-color: #F3F3F3;
}

main section article img.corazon{
    position: absolute;
    top: 15.87px;
    left: 21px;
}

main section article img.foto{
    position: relative; 
    bottom: 64px;
    left: 90px;
    border-radius: 50%;
}

main section article div {
    position: relative; 
    bottom: 40px;
    text-align: center;
} 

main section article h2{
    text-transform: uppercase; font-weight: bold;
    text-align-last: center;
    height: 35px;
}

main section article p{
    padding-left: 20px;
    padding-right: 20px;
}

main section article div button.verMas{
    position: relative;
    top: 30px;
    background: #00669F;
    font-size: 15px;
    color: #F3F3F3;
    padding: 15px 37px;
}

    /* estilo del footer */

footer p{
    background-color: #00669F;
    padding: 16px;
    color: #FFF9F9;
}

footer p span{
    text-transform: uppercase;
}