@import "_variables.scss";

@mixin style-button {
  background-color: $bg-primary;
  padding: 20px 30px;
  border-radius: 5px;
  border-style: dotted;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// body

body {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 55px;
  line-height: 70px;
  letter-spacing: 10px;
}

// header

header {
  display: flex;
  justify-content: space-between;
  margin: 5% 10%;
  span {
    font-weight: bold;
    font-size: 25px;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    width: 40vw;
    li {
      list-style-type: none;
      padding: 0px 5px;
    }
  }
}

// Main

@mixin sombraIzq {
                border-radius: 50%;
                padding: 10px 15px;
                box-shadow: -4px 0px $bg-primary;
}

main {
    margin: 0% 10%;
    .sect1 {
        display: flex;
        align-items: flex-start;
        position: relative;
        .styleFont{
          position: absolute;
          background-color: $bg-primary;
          height: 30px;
          width: 230px;
          z-index: -1;
        }
        .sign {
            max-width: 500px;
            p{
                color: $color-primary;
                padding: 5% 0%;
            }
            button {
                @include style-button;
            }
        }
        img{
            width: 400px;
        }
    }
    .sect2{
        display: flex;
        justify-content: space-between;
        margin: 10% 0%;
        position: relative;
        article{
            width: 30%;
            height: 350px;
            background-color: $bg-secondary;
            padding: 20px 5px 20px 10px;
            z-index: -2;
            span{
              border: 1px solid;
              @include sombraIzq();
            }
            div{
              position: absolute;
              background-color: $bg-primary;
              top: 59px;
              width: 20px;
              height: 8px;
              z-index: -1;
            }
            h5{
                font-weight: bolder;
                font-size: 1.1rem;
                padding: 20px 0px 15px 0px;
                z-index: 2;
            }
        }
    }
    footer{
      display: flex;
      justify-content: space-between;
      margin: 0% 10% 5% 10%;
      div{
        ul{
          list-style-type: none;
          display: flex;
          li{
            margin-left: 10%;
            @include sombraIzq()
          }
          img{
          width: 15px;
          
          
          }
        }
      }
    }
}
